<div class="layout-row layout-align-space-between-center flex-100 header-bar container">
  <p><h3>Easynote</h3></p>
  <p>{{#paper-button raised=true primary=true onClick=(action 'transitionToSignIn')}}Sign In{{/paper-button}}</p> 
</div>
