@import 'variables';

.main-first-section {
  background-color: #53B567;
  color: white;

  .main-title {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-first-section-image {
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/main-note.png')
  }
  .main-description {
    font-size: 26px;
    margin-top: 50px;
  }

  .main-sign-up {
    margin-top: 50px;
    margin-bottom: 50px;

    .main-sign-up-button.md-default-theme.md-button.md-primary.md-raised {
      background-color: transparent;
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 1;
    }
    .main-sign-up-button.md-default-theme.md-button.md-primary.md-raised:hover {
      border: 1px solid #FFC333;
      background-color: #FFC333;
      color: $background-dark-blue;
    }
  }
}

.main-second-section {
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;

  .main-second-section-image {
    width: 90px;
    height: 90px;
    background-size: cover;

    &.image-simple {
      background-image: url('/assets/images/icons/simple.svg');
    }

    &.image-productivity {
      background-image: url('/assets/images/icons/productivity.svg');
    }
    &.image-order {
      background-image: url('/assets/images/icons/order.svg');
    }
  }
}

.main-third-section {
  height: 500px;
  background-color: rgb(58,62,100);
}

.main-fourth-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-fifth-section {
  background-color: rgb(207, 70, 71);

  padding-top: 120px;
  padding-bottom: 120px;
}
