@import 'variables';

.sign-up-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $background-dark-blue;

  .sign-up-registration-form-wrapper {
    margin-top: 120px;

    .sign-up-title {
      color: $light-green;
    }

    .sign-up-validation-error {
      font-size: 12px;
      color: $error-red;
    }

    .sign-up-button.md-default-theme.md-button.md-primary.md-raised {
      background-color: transparent;
      border: 1px solid $light-green;
      padding: 10px 20px;
      border-radius: 1;
      color: $background-dark-blue;
    }

    .sign-up-button.md-default-theme.md-button.md-primary.md-raised:hover {
      border: 1px solid #FFC333;
      background-color: #FFC333;
      color: $background-dark-blue;
    }


    .sign-up-registration-form {
      background-color: white;

      border-radius: $border-radius;
      // box-shadow: 2px 5px 25px 0px rgba(0,0,0,0.75);
      box-shadow: $box-shadow-low;
      padding: 55px;
      margin-left: 20px;
      margin-right: 20px;

      .sign-up-registration-form-title {
        margin-bottom: 15px;
      }

      .sign-up-registration-form-button {
        padding: 5px;
      }
    }
  }
}
