// background-colors
$background-dark-blue: #2E3E4E;
$background-light-green: #65BD77;
$background-grey-white: #F7F7F7;
$background-light-grey: #CFCFCF;
$background-white: #FFFFFF;

// shadows
$box-shadow-low: 1px 1px 10px 0px rgba(0,0,0,0.75);

// font-colors
$light-grey: #717171;

$border-radius: 2px;
