<div class="layout-row dashboard-note-area-caption-wrapper flex-100">
  <div class="layout-row dashboard-note-area-caption">
    {{paper-input placeholder="Search" type="text" onChange=(action (mut user.phone)) icon="search" class="flex-100 dashboard-left-bar-search"}}
  </div>
</div>
{{expansion-panel}}
{{expansion-panel content='Allow to Jugger eat some fruits'}}
