<div class="layout-column dashboard-note-area flex-100">
  <div class="layout-xs-column flex-xs-10 flex-sm-10 layout-row dashboard-note-area-caption-wrapper flex-100">
    <div class="layout-row layout-align-space-between-end dashboard-note-area-caption flex-100">
      <div class="layout-row layout-align-space-between-end flex-60">
        <div class="layout-row flex-xs-100 flex-sm-70 flex-md-70 flex-40">
          {{paper-input placeholder="Search" type="text" icon="search"
          value=searchWord onChange=(action (mut searchWord))
          class="flex-xs-80 flex-100 dashboard-left-bar-search"}}
        </div>
      </div>
      <div class="layout-row layout-align-end-center">
        {{#paper-button primary=true onClick=(action 'createNote') class="notes-add-note-button"}}Add note{{/paper-button}}
      </div>
    </div>
  </div>

  <div class="layout-column flex-100 notes-wrapper">
    {{#unless notes.length}}
      <div class="layout-row layout-align-center-center notes-empty">
        <h4>No notes, create a new one.</h4>
      </div>
    {{/unless}}
    {{#each notes as |note|}}
      <div class="layout-row layout-wrap">
        {{expansion-panel title=note.title content=note.description date=note.date onSave=(action 'saveNote' note.id) onDelete=(action 'deleteNote' note.id) class="flex-100"}}
      </div>
    {{/each}}
  </div>
</div>
