<div class="content-wrapper dashboard layout-column flex-100">
  <div class="container layout-row flex-100">
    <!-- {{header-bar}} -->
    <div class="dashboard-wrapper layout-column flex-100">
      <div class="layout-row flex-100 layout-align-start-start">
        <div class="dashboard-left-bar-wrapper layout-column flex-20">
          <div class="dashboard-left-bar layout-column flex-100">
            <div class="dashboard-left-bar-header">
              <div class="layout-row dashboard-left-bar-header-title">
                <h2>Notebook</h2>
              </div>
              <div class="layout-row dashboard-left-bar-header-title">
                <h3>Sasha Saveliev</h3>
              </div>
            </div>
            <div class="layout-column dashboard-left-bar-notes-container">

            </div>
          </div>

        </div>
        <div class="layout-column dashboard-note-area flex-100">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
