<div class="main-first-section">
  {{header-bar}}
  <div class="container">
    <div class="layout-column flex-100">
      <div class="layout-column layout-align-center-center main-title flex-100">
        <h1 class="text-uppercase">Organize your thoughts with us</h1>
        <h3>Modern, Clean and Flat User Interface Kit Made with Love and Passion</h3>
      </div>
      <div class="layout-column layout-align-center-center">
        <div class="main-first-section-image"></div>
        <div class="main-description text-center">
          Easynote - this is a simple notebook, completely free with a simultaneous creative and simple design. You can use it everywhere where you want.
        </div>
        <div class="main-sign-up">
           {{#paper-button raised=true primary=true class="main-sign-up-button" onClick=(action 'transitionToSignUp')}}Sign up and join to us!{{/paper-button}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-second-section">
  <div class="container">
    <div class="layout-column layout-gt-sm-row layout-align-center-center flex-100">
      <div class="layout-column layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-simple"></div>
        <h2>Simple UI</h2>
        By preferring code over configuration, node best practices, and a minimal API surface - gulp makes things simple like never before.
      </div>
      <div class="layout-column layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-productivity"></div>
        <h2>Productivity</h2>
        Using the power of node streams, gulp gives you fast builds that don't write intermediary files to disk.
      </div>
      <div class="layout-column layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-order"></div>
        <h2>Order</h2>
        By enforcing strict guidelines, we ensure our plugins stay simple and work as expected.asdasdsadasdasdasd
      </div>
    </div>
  </div>
</div>

<div class="main-third-section">
  <div class="container">
    <div class="layout-row">
      <h2>Your application will works no matter where you are</h2>
    </div>
  </div>
</div>

<div class="main-fourth-section">
  <div class="container">
    <div class="layout-row layout-align-center-center">
      <h1 class="text-center">"Builds can be the most awful sinkhole for teams to waste their time with - gulp is a serious win for any project."</h1>
    </div>
  </div>
</div>

<div class="main-fifth-section">
  <div class="container">
    <div class="layout-row layout-align-center-center">
      <div class="layout-column flex-40">
        <h3>Support our project</h3>
      </div>
      <div class="layout-column flex-40">
        <h3>Have propose? Contact us (facebook, instagram, skype)</h3>
      </div>
    </div>
  </div>
</div>
