<div class="main-first-section">
  <div class="container">
    <div class="layout-row layout-align-space-between-center flex-100 header-bar container">
      <p><h1>Easynote</h1></p>
      <p>{{#paper-button raised=true primary=true class="main-sign-up-button" onClick=(action 'transitionToSignIn')}}Sign In{{/paper-button}}</p>
    </div>

    <div class="layout-column flex-100">
      <div class="layout-column layout-align-center-center main-title flex-100">
        <h1 class="text-uppercase">Organize your thoughts with us</h1>
        <h3>Modern, Clean and Flat User Interface Kit Made with Love and Passion</h3>
      </div>
      <div class="layout-column layout-align-center-center">
        <!-- <div class="main-first-section-image"></div> -->
        <div class="main-description text-center">
          Easynote - this is a simple notebook, completely free with a simultaneous creative and simple design. You can use it everywhere where you want.
        </div>
        <div class="main-sign-up">
           {{#paper-button raised=true primary=true class="main-sign-up-button" onClick=(action 'transitionToSignUp')}}Sign up and join to us!{{/paper-button}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-second-section">
  <div class="container">
    <div class="layout-column layout-gt-sm-row layout-align-center-center flex-100">
      <div class="layout-column main-second-section-item  layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-simple">{{inline-svg "/assets/images/icons/simple.svg"}}</div>
        <h2>Simple UI</h2>
        <div class="text-sm-center">
          By preferring code over configuration, node best practices, and a minimal API surface - gulp makes things simple like never before.
        </div>
      </div>
      <div class="layout-column main-second-section-item layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-productivity">{{inline-svg "/assets/images/icons/productivity.svg"}}</div>
        <h2>Productivity</h2>
      <div class="text-sm-center">
        Using the power of node streams, gulp gives you fast builds that don't write intermediary files to disk.
      </div>
      </div>
      <div class="layout-column main-second-section-item layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-order">{{inline-svg "/assets/images/icons/order.svg"}}</div>
        <h2>Order</h2>
        <div class="text-sm-center">
By enforcing strict guidelines, we ensure our plugins stay simple and work as expected.asdasdsadasdasdasd
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-third-section">
  <div class="container">
  </div>
</div>

<div class="main-fourth-section">
  <div class="container">
    <div class="layout-row layout-align-center-center">
      <h1 class="text-center">Support all devices.</h1>
    </div>
  </div>
</div>

<div class="main-fifth-section">
  <div class="container">
    <div class="layout-row layout-align-center-center">
      <div class="layout-column flex-40">
        <h3>Support our project</h3>
      </div>
      <div class="layout-column flex-40">
        <h3>Have propose? Contact us (facebook, instagram, skype)</h3>
      </div>
    </div>
  </div>
</div>
