<div class="main-first-section">
  <div class="container">
    <div class="layout-row layout-align-space-between-center flex-100 header-bar container">
      <p><h1>Easynote</h1></p>
      <p>{{#paper-button raised=true primary=true class="main-button" onClick=(action 'transitionToSignIn')}}Sign In{{/paper-button}}</p>
    </div>

    <div class="layout-column flex-100">
      <div class="layout-column layout-align-center-center main-title flex-100">
        <h1 class="text-uppercase text-center">Organize your thoughts with us</h1>
        <h3 class="text-center">Modern, Clean and Flat User Interface Kit Made with Love and Passion</h3>
      </div>
      <div class="layout-column layout-align-center-center">
        <div class="main-description text-center">
          Easynote - is a simple notebook, completely free with a simultaneous creative and simple design. You can use it everywhere where you want.
        </div>
        <div class="main-sign-up">
           {{#paper-button raised=true primary=true class="main-button sign-up" onClick=(action 'transitionToSignUp')}}Sign up and join to us!{{/paper-button}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-second-section">
  <div class="container">
    <div class="layout-column layout-gt-sm-row layout-align-center-center flex-100">
      <div class="layout-column main-second-section-item  layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-simple">{{inline-svg "/assets/images/icons/simple.svg"}}</div>
        <h2>Simple UI</h2>
        <div class="text-center">
          The simple design makes it easy to use web application, no one will be hard to register and create his first note.
        </div>
      </div>
      <div class="layout-column main-second-section-item layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-productivity">{{inline-svg "/assets/images/icons/productivity.svg"}}</div>
        <h2>Productivity</h2>
      <div class="text-center">
        Notes help you more efficiently plan your time.
      </div>
      </div>
      <div class="layout-column main-second-section-item layout-align-start-center flex-70 flex-gt-sm-20">
        <div class="main-second-section-image image-order">{{inline-svg "/assets/images/icons/order.svg"}}</div>
        <h2>Order</h2>
        <div class="text-center">
          Your thoughts will be ordered and protected on a remote server that makes it impossible for data loss.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-third-section">
  <div class="container">
  </div>
</div>

<div class="main-fourth-section">
  <div class="container">
    <div class="layout-row layout-align-center-center">
      <h1 class="text-center">Support all devices.</h1>
    </div>
  </div>
</div>

<div class="main-fifth-section">
  <div class="container">
    <div class="layout-row layout-align-center-center">
      &copy; 2017 Sasha Saveliev
    </div>
  </div>
</div>
